repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer

- repo: https://github.com/pre-commit/mirrors-prettier
  rev: v3.0.0
  hooks:
    - id: prettier
      files: \.md$

- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
    - id: codespell
      args: ['--ignore-words-list=crate,resul,lene', '--skip=*.aux,*.log,*.out,*.fls,*.fdb_latexmk,build/*']
      files: \.(tex|md)$
