name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: stable

      - name: Lint
        uses: golangci/golangci-lint-action@v6
        with:
          install-mode: goinstall
          version: v1.64.8

      - name: Build
        run: go build -v ./...

      - name: Test
        run: go test -v ./...
